<body>
    <section>
        <div class="container">
            <div class="card" routerLink="ahorcado">
                <div class="content">
                    <div class="image-box"><img src="../../../assets/rope.png"></div>
                    <div class="content-box">
                        <h3>AHORCADO</h3>
                    </div>
                </div>
                <span class="boton-jugar">¡JUGAR!</span>
            </div>

            <div class="card" routerLink="mayor-o-menor">
                <div class="content">
                    <div class="image-box"><img src="../../../assets/poker-cards.png"></div>
                    <div class="content-box">
                        <h3>MAYOR O MENOR</h3>
                    </div>
                </div>
                <span class="boton-jugar">¡JUGAR!</span>
            </div>

            <div class="card" routerLink="preguntados">
                <div class="content">
                    <div class="image-box"><img src="../../../assets/pokeball.png"></div>
                    <div class="content-box">
                        <h3>PREGUNTADOS</h3>
                    </div>
                </div>
                <span class="boton-jugar">¡JUGAR!</span>
            </div>

            <div class="card">
                <div class="content">
                    <div class="image-box"><img src=""></div>
                    <div class="content-box">
                        <h3>JUEGO PROPIO</h3>
                    </div>
                </div>
                <span class="boton-jugar">¡JUGAR!</span>
            </div>
        </div>
    </section>
</body>
