@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Megrim&family=Play:wght@700&family=Special+Elite&family=Ultra&family=Walter+Turncoat&display=swap');

body
{
    min-height: 100vh;
    background-image: url("https://images2.alphacoders.com/118/1184993.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: nowrap;
    font-family: 'Bungee', cursive;
    width: 100%;
}

section
{
    position: relative;
}

section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container
{
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    width: 100%;
}

.container .card
{
    position: relative;
    width: 200px;
    height: 350px;
    background: rgba(255, 255, 255, 0.2);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
	justify-content: center;
	align-items: center;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.container:hover .card
{
    filter: blur(3px);
    transform: scale(0.9);
    opacity: 0.8;
}

.container .card:hover
{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container .card .content
{
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    transition: 0.25s;
}

.container .card:hover .content
{
    transform: translateY(-20px);
}

.container .card .content .image-box
{
    display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .image-box img
{
    width: 80%;
    height: 80%;
}

.container .card .content .content-box h3
{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .boton-jugar
{
    position: absolute;
    bottom: 50px;
    display: flex;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}

.container .card:hover .boton-jugar
{
    transform: translateY(0px);
    opacity: 1;
}