<body>
	<div class="main">  	
			<app-login (loginExitoso)="mostrarMensajeLogin()"></app-login>			
			<app-registro (registroExitoso)="mostrarMensajeRegistro()"></app-registro>
			
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-left">
						<h1>¡Volviste!</h1>
						<p>¿Ya tenés una cuenta?</p>
						<button id="login" (click)="slideRight()">Iniciá sesión</button>
					</div>
					<div class="overlay-right">
						<h1>Bienvenid@</h1>
						<p>Si todavía no tenés una cuenta</p>
						<button id="signup" (click)="slideLeft()">Registrate</button>
					</div>
				</div>
			</div>
	</div>
	<div class="popup" id="popup">
		<img [src]="imagenResultado">
		<h2>{{resultado}}</h2>
	</div>
</body>