@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Megrim&family=Play:wght@700&family=Special+Elite&family=Ultra&family=Walter+Turncoat&display=swap');

h1
{
	text-align: center;
	font-family: 'Bungee', cursive;
	color: white;
	margin-bottom: 5vh;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Bungee', cursive;
	background-image: url("../../../../assets/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-position: center;
	position: fixed;
	width: 100%;
}

.tablero
{
    text-align: center;
    width: 50%;
    height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tablero .juego
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40%;
}

table
{
    background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
    border: 5px solid white;
	border-radius: 15px;
	min-width: 500px;
    width: 500px;
    height: 500px;
    font-size: 1.7em;
	color:white;
}

table tr
{
    border: 1px solid white;
}

table tr td
{
    border: 1px solid white;
    cursor: pointer;
}

.celda-bloqueada
{
    pointer-events: none;
}

table tr:nth-child(3n)
{
    border-bottom: 5px solid white;
}

table tr td:nth-child(3n)
{
    border-right: 5px solid white;
}

.tablero .juego span
{
	font-size: 1.7em;
	color: white;
	margin: 2vh;
}

.tablero .juego .botones-numeros
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 1.5em;
}

.tablero .juego .reiniciar
{
	margin: 2vh;
	width: 150px;
	height: 60px;
	justify-content: center;
	color: white;
	background: #573b8a;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	backdrop-filter: blur(10px);
}

.tablero .juego .reiniciar:hover{
	background: #6d44b8;
}

button
{
	margin: 5px;
	width: 60px;
	height: 60px;
	justify-content: center;
	color: #573b8a;
	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	backdrop-filter: blur(10px);
}

button:hover{
	background: white
}

button:focus
{
    background: white;
}

.botones-popup button
{
	color: white;
	background-color: #573b8a;
}

.botones-popup button:hover
{
	background-color: #6d44b8;
}

.popup
{
	width: 400px;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(10px);
	position: absolute;
	transform: translateY(200px);
	transition: 0.5s;
	visibility: hidden;
}

.open-popup
{
	visibility: visible;
	transform: translateY(0);
}

.popup img
{
	width: 100px;
	margin-top: -50px;
}

.popup h2
{
	margin: 10px;
}

.popup .botones-popup
{
	display: flex;
	justify-content: space-around;
	margin: 20px;
}

.popup .botones-popup button
{
	width: 45%;
	cursor: pointer;
}